<a href="https://colab.research.google.com/github/daniel-hau-shan12/Python-Colab/blob/main/Tuples_and_Functions_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### Tuples
Elements in a tuple cannot change

In [ ]:
my_tuple=(1,2,3,4)
my_tuple[2]= "Haulah"
print(my_tuple)

TypeError: ignored

In [ ]:
print(type(my_tuple))

<class 'tuple'>

### Empty tuples

In [ ]:
empty_tuple=()
print(empty_tuple)
print(len(empty_tuple))
print(type(empty_tuple))

()
0
<class 'tuple'>

### Tuple Packing

In [ ]:
t=(1,2,3)
x,y,z=t
print(x)
print(y)
print(z)

1
2
3

In [5]:
t = "1", "2", "3"
print(t)
print(type(t))

('1', '2', '3')
<class 'tuple'>

### Tuples with one element

In [1]:
tuple1 = ("Daniel")
print(type(tuple1))

<class 'str'>

In [2]:
tuple2 = (4)
print(type(tuple2))

<class 'int'>

### Using trailing comma

In [4]:
tuple1 = ("Daniel"),
print(type(tuple1))
tuple2 = (4),
print(type(tuple2))

<class 'tuple'>
<class 'tuple'>

### Tuple functions

In [6]:
tuple1 =(1,2,3,4,2,3,4,2,1)
print(tuple1.count(2))

3

In [7]:
tuple1 =(1,2,3,4,2,3,4,2,1)
return_func = tuple1.count(2)
print(return_func)

3

In [8]:
tuple1.index(1)

0